<div class="left">
    <p>Current points: {{counter}}</p>
    <p>You are playing for {{sec}}:{{mSec}}</p>
    
</div>
<div class="right">
    <label for="selectInput">Sort moves</label>
    <select id="selectInput" [(ngModel)]="filter">
        <option value="asc">Asc</option>
        <option value="desc">Desc</option>
    </select>
    <p>List of moves:</p>
    <p *ngFor="let action of actionList | sort: filter: actionList.length">
        You moved {{action.actionName}} at {{action.actionSec}}:{{action.actionMsec}}
    </p>
</div>
<div class="container">

    <body>
        <h2>Hello &nbsp; <b>{{userName}}</b></h2>
        <div class="action-buttons">
            <button (click)="game.actionStart(); start()" class="start-btn">Start</button>
            <button (click)="game.actionStop(); stop()" class="start-btn">Stop</button>
            <button (click)="game.actionReset(); reset()" class="start-btn">Reset</button>
            <button (click)="exit()" class="start-btn">Exit</button>
        </div>
        <div class="game">
            <ngx-snake #game (foodEaten)="increasePoints()" (gameOver)="gameOver()"></ngx-snake>
        </div>
        <div class="play-buttons">
            <button (click)="game.actionUp(); getAction('Up')" class='video-game-button'>&#8593;</button>
            <button (click)="game.actionLeft(); getAction('Left')" class='video-game-button'>&#8592;</button>
            <button (click)="game.actionRight(); getAction('Right')" class='video-game-button'>&#8594;</button>
            <button (click)="game.actionDown(); getAction('Down')" class='video-game-button'>&#8595;</button>
        </div>
    </body>
</div>