<div class="jumbotron vertical-center">

<div class="container-fluid">

      <h1>Lets play some snake!</h1>
      <form (ngSubmit)="onSubmit(userForm.value)" #userForm="ngForm">
        <div class="form-group">
          <label for="userName">Name</label>
          <input type="text" class="form-control" id="userName"
                 required
                 ngModel #inputName="ngModel" name="userName"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
        </div>
        
        <div class="form-group">
          <label for="userEmail">Your email</label>
          <input type="text" class="form-control" id="userEmail"
                 ngModel #inputEmail="ngModel" name="userEmail">
        </div>
  

        <button type="submit" class="btn btn-success" (click)="startGame()" [disabled]="!userForm.form.valid">Submit</button>
      </form>
    </div>
  
</div>