<!DOCTYPE html>
<html>

<head>
  <title>Login Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css">
</head>

<body>
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90 p-l-50 p-r-50">
      <form [formGroup]="userForm" class="login100-form flex-sb flex-w" (ngSubmit)="onSubmit(userForm.value);userForm.reset()">
        <span class="login100-form-title">
          <a href="" target="_blank">
            <i class="fas fa-user"></i>
          </a>
        </span>
        <div class="wrap-input100 m-b-16">
          <input class="input100" type="text" id="userName" placeholder="Username" formControlName="userName">
          <span class="focus-input100"></span>
          <div *ngIf="userForm.get('userName')?.invalid && userForm.get('userName')?.dirty" class="alert alert-danger">
            Name is required. Minimum length of name is 4 and maximium is 14!
          </div>
        </div>
        <div class="wrap-input100 m-b-16">
          <input class="input100" type="text" placeholder="Token" id="token" formControlName="token">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 m-b-16">
          <select class="input100" id="setColor" formControlName="color">
            <option value="normalColor">Normal colors</option>
            <option value="contrast">High contrast</option>
          </select>
        </div>
        <div class="container-login100-form-btn m-t-17">
          <div class="w-full beforeNone text-center">
            <button type="submit" class="nv-login-submit login100-form-btn"
              [disabled]="!userForm.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>